<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Buddy Baer{% endblock %}</title>
    {% stylesheets '@commonCSS' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
    {% set _additionalCSS = block('additionalCSS') %}
    {% if _additionalCSS is not empty %}
        <link rel="stylesheet" href="{{ asset(_additionalCSS|trim) }}" media="screen"/>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <!-- top -->
    <header class="main">
        <div class="row-fluid">
            <div class="span4">
                &nbsp;&nbsp; <a href="/" class="brand">
                    <img height="30" width="30" src="/logo.png" alt="Logo"/>
                    BuddyBaer
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block breadcrumb '' %}
        {% block menubar '' %}
        {% block submenubar '' %}
        <div id="body" class="row-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <footer class="row-fluid">
                <hr/>
                2013  Jovago.com
            </footer>
        {% endblock %}
    </div>
    {%- spaceless %}
        <script type='text/javascript' src='{% javascripts '@labJS' %}{{ asset_url }}{% endjavascripts %}'></script>
        <script type="text/javascript">

            $LAB.script("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js").wait();

            {% javascripts '@commonJS' output='js/common_*.js' %}
            $LAB.script("{{ asset_url }}").wait();
            {% endjavascripts %}

            {% set _additionalJS = block('additionalJS') %}
            {% if _additionalJS is not empty %}
            $LAB.script("{{ _additionalJS|trim }}");
            {% endif %}
        </script>
    {% endspaceless -%}
</body>
</html>
