<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Buddy Baer{% endblock %}</title>
    {% stylesheets '@commonCSS' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
    {% set _additionalCSS = block('additionalCSS') %}
    {% if _additionalCSS is not empty %}
        <link rel="stylesheet" href="{{ asset(_additionalCSS|trim) }}" media="screen"/>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block headJavascripts %}
    {% endblock %}
</head>
<body>
    <!-- top -->
    <header class="main">
        <div class="row-fluid">
            <div class="span4">
                &nbsp;&nbsp; <a href="/" class="brand">
                    <img height="30" width="30" src="/logo.png" alt="Logo"/>
                    BuddyBaer
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block breadcrumb '' %}
        {% block menubar '' %}
        {% block submenubar '' %}
        <div id="body" class="row-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <footer class="row-fluid">
                <hr/>

            </footer>
        {% endblock %}
    </div>

</body>
</html>
