{% extends 'base.html.twig' %}
{% block menubar %}
    {{ include('BuddyBaerManagerBundle:Default:menubar.html.twig') }}
{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span6">
        {{ google_map_container(map) }}
        {{ google_map_js(map) }}
    </div>
    <div class="span6">
        {{ form(form) }}
    </div>
</div>



    {%- spaceless %}
        <script type='text/javascript' src='{% javascripts '@labJS' %}{{ asset_url }}{% endjavascripts %}'></script>
        <script type="text/javascript">

            $LAB.script("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js").wait();

            {% javascripts '@commonJS' output='js/common_*.js' %}
            $LAB.script("{{ asset_url }}").wait();
            {% endjavascripts %}

            {% set _additionalJS = block('additionalJS') %}
            {% if _additionalJS is not empty %}
            $LAB.script("{{ _additionalJS|trim }}");
            {% endif %}
        </script>
    {% endspaceless -%}
{% endblock %}
